
.prestations h2{
  color: #b5723c;
}

.presta-container{
}

.presta-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.presta-item{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.presta-background{
  width: 100%;
  height: 80%;
  background: url("../../../images/reason-image-1.png");
  background-size: cover;
  background-position: center;
}

.presta-text{
  height: 20%;
  background: #b5723c;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#hidden-prestations{
  max-height: 0;
  transition: transform 2s linear;
  overflow: hidden;
}

#hidden-prestations.slide-down{
  max-height: inherit;
}

#hidden-prestations.slide-up{
  max-height: 0px;
}

#button-container{
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#button-container button{
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

#button-container button:hover{
  cursor: pointer;
}

#button-container .more{
  position: absolute;
  right: 50;
  font-size: 40px;
  color: white;
  transition: 0.5s;
}

.more:hover{
  transform: rotate(180deg);
}

@media screen and (max-width: 768px){
  .presta-item{
    flex: 0 0 auto;
  }
}
