#wrapper{
  border-top: 4px solid #2D2D2D;
  border-bottom: 4px solid #2D2D2D;
  background: #c27530;
  padding-bottom: 30px;
}

#form-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#text-section{
  border: 3px solid #2D2D2D;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #2D2D2D;
  box-shadow: 4px 4px 1px;
}

#text-section div{
  display: flex;
  align-items: center;
  margin: 5px;
}

#email-send{
  margin-top: 10px;
  width: 90%;
  padding-top: 8px;
  padding-bottom: 8px;
  background: transparent;
  border: 3px solid #2D2D2D;
  border-radius: 5px;
  background: #2d2d2d;
  color: white;
}

#email-send:hover{
  cursor: pointer;
}

#text-section i{
  font-size: 2em;
  color: #b9b9b9;
}

#text-section span{
  margin-left: 10px;
  font-size: 1.2em;
  color: white;
}

#text-section a{
  text-decoration: none;
  color: inherit;
}

#inputs-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputs-wrapper input, textarea{
  margin: 4px;
  padding: 10px;
  width: 100%;
  background: #2D2D2D;
  border: 2px solid #444444;
  color: white;
  border-radius: 5px;
}

#inputs-wrapper input:focus, textarea:focus{
  outline: none;
}

.form-section{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.smaller-form-section{
  width: 70%;
}
