.whole-container{
  background: #2D2D2D;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
}

.form label{
  font-size: 1.3em;
}


.inputs{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tarif-final{
  display: flex;
  flex-direction: row;
  background: #E8E8E8;
  width: 80%;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
}
