.whole-wrapper{
  width: 100%;
  height: 100%;
  background: #2D2D2D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container{
  width: 80%;
  max-height: 80%;
  background: #E8E8E8;
  border-radius: 5px;
  overflow: auto;
}

.pWrapper{
  padding: 0px 20px 0px 20px;
}
