#contact-fixed-wrapper{
  width: 40px;
  height: 80px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

#phone-item{
  background: #252525;
}

#mail-item{
  background: #797979;
}

#facebook-item{
  background: #3A66B8;
}

#google-item{
  background: #EA4336;
}

.contact-item{
  flex: 1;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-item:hover{
  cursor: pointer;
}

.contact-item a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
